// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    90%;
$on-palm:          95%;
$on-laptop:        90%;
$on-medium:        90%;
$on-large:         90%;
